#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* @media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 10px;
  }
} */

@media (max-width:320px) {
  
 :root {
  background-repeat: no-repeat;
  background-size: 1200px;
  background-attachment:fixed;
 }
 :root img {
  width: 150px; /* Establece el ancho deseado */
  height: 150px; /* Establece la altura deseada */
}
 .footer div{
  width: 320px;
  display: block;
  margin: 0;
  padding: 2px;
  padding-right: 7px;
 }
 .footer div p {
  padding: 7px;
 }
 .footer .name p {
  padding-bottom: 20px;
 }
 .navbar div {
  padding: 2px;
  padding-top: 0px;
 }
 .navbar div div ul{
  display: flex;
  background-color: #111827;
  padding-left: 20px;
  width: 1200px;
  height: 47px;
  
 }
 .navbar ul li a{
  margin-left: -2px;
  color: white;
  font-size: 6px;
 }
 .navbar div .btn_home a{
  margin: 5px;
  margin-right: 0px;
  font-size: 6px;
 }
 .navbar div .btn_contacto a{
  padding: 0px;
  color: #111827;
 }
 .btn_home {
  margin: -10px
  ;padding: 6px;
 }
 }

 